.tabs-content {
  padding: 0 5px;
  position: relative;
  
  div {
    position: absolute;
  }
}

.tabs ul li a {
  transition: color 300ms linear, border-color 300ms linear;
}

// Transition group
.fade-enter {
  opacity: 0.5;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
  transition-delay: 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.5;
  transition: opacity 150ms ease-in;
}
